#logo{
    width: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

article {
    display: flex;
}

#citySearch{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
}