#logo{
    width: 50px;
}

p {
    line-height: 130%;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-image: url(../images/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 10px #62b5e1, 0px 0px 10px #62b5e1 inset;
    margin-bottom: 30px;
}

article {
    display: flex;
    margin: 1%;
}

#citySearch{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
}

#weatherContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    align-self: center;
    text-align: center;
    justify-self: center;
}

.weatherCard{
    border: 2px solid black;
    width: 20%;
    padding: 2%;
}

#todaysWeather {
    width: 100%;
}

#UV{
    background-color: green;
    color: ivory;
    border-radius: 5px;
    padding: 2px;
}